* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  padding-top: 10rem;
}
.header .logo {
  padding-top: 5rem;
  padding-right: 1rem;
  height: 15rem;
  width: 10rem;
}
.header .main-nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.header .main-nav-list .main-nav-link {
  display: table-row-group;
  text-decoration: none;
  color: #333;
  font-size: 2.5rem;
  font-weight: 50;
  padding-right: 10rem;
  font-family: 標楷體;
}
.header .main-nav-list .main-nav-link:hover {
  color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

html {
  font-family: 標楷體;
  margin: 0 auto;
  padding: 0 3.2rem;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
body {
  text-align: center;
  background-color: #fdf2e9;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
.highest{
  padding-top: 10rem;
}
.degree {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.degree table {
  width: 80rem;
  font-size: 3rem;
  text-align: center;
}

.degree table a {
  text-decoration: none;
  color: black;
}

.highest table {
  width: 80rem;
  font-size: 3rem;
  text-align: center;
}
